/*== HEADER SECTION ==*/

.header-bg{
	background:#F2F3F8;
}
.heading-logo img{
	margin-top:11px;
}
.heading-nav{
	display:block;
	text-align:left;
	padding-top:35px;
}
.heading-nav ul{
	padding-left:0px;
}
.heading-nav ul li{
	display:inline-block;
	list-style:none;
	padding-right:35px;
	position:relative;
}
.heading-nav ul li a{
	color:#384185;
    font-family: 'Inter', sans-serif;
	font-size:16px;
	font-weight:600;
}
.heading-nav ul li a:hover{
	border-bottom:2px solid #384185;
}
.heading-nav ul li a.active{
	border-bottom:2px solid #384185;
}
.heading-btn{
	padding-top:30px;
}
.heading-btn a{
	background:#F2F3F8;
    box-shadow: -1px 1px 3px 7px #fff;
	color:#6784FF;
    font-family: 'Inter', sans-serif;
	font-size:16px;
	font-weight:600;
	padding:8px 30px;
	margin-left:25px;
	display:inline-block;
}
.heading-btn a.last{
	background:#F2F3F8;
    box-shadow: -1px 1px 3px 7px #fff;
	color:#6784FF;
    font-family: 'Inter', sans-serif;
	font-size:16px;
	font-weight:600;
	padding:8px 45px;
	margin-left:20px;
	display:inline-block;
	cursor:pointer;
}
a:hover {
    text-decoration: none;
}
a:focus{
	outline:0 solid;
}

/*== SILVER SECTION ==*/

.silver-section{
	background:#F2F3F8;
	height:800px;
	padding-top:0px;
}
.text-silver{
	padding-top:170px;
}
.text-silver h1{
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size: 72px;
	font-weight: 700;
	margin-bottom:31px;
}
.text-silver p {
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 500;
	line-height: 1.3;
}
.text-silver button{
	background:#FF8A62;
	border-radius:6px;
	border:none;
	color: #FFFFFF;
    font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding:15px 35px;
	margin-top:25px;
	cursor:pointer;
}
.text-silver button i{
	padding-left:15px;
}
.text-silver-img{
	padding-right:0px;
}
.text-silver-img img{
	max-width:100%;
	padding-top:120px;
}
.silver-social{
	padding-top:200px;
}
.silver-social a{
	color:#18214D;
	font-size:18px;
	display:inline-block;
	margin-right:20px;
}

/*== PERFECT SECTION ==*/

.perfect-section{
	padding-top:90px;
	padding-bottom:70px;
}
.text-perfect h2{
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size: 48px;
	font-weight: 600;
	margin-bottom:15px;
}
.text-perfect img{
	max-width:100%;
}
.text-perfect2 p {
	color: #081A48;
    font-family: 'Inter', sans-serif;
	font-size:18px;
	font-weight: 500;
	line-height: 1.5;
	padding-bottom:45px;
}
.text-perfect3{
	padding-bottom:10px;
	padding-right:55px;
}
.text-perfect3 img{
	position:absolute;
}
.text-perfect3 h3{
	color: #6784FF;
    font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 700;
	margin-bottom:8px;
	padding-left:65px;
}
.text-perfect3 p {
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size:18px;
	font-weight: 500;
	line-height: 1.5;
	padding-left:65px;
}

/*== REVIEWS SECTION ==*/

.reviews-section{
	background:#F2F3F8;
	padding-top:60px;
	padding-bottom:60px;
}
.reviews-heading span {
	color: #6784FF;
    font-family: 'Inter', sans-serif;
	font-size:22px;
	font-weight: 500;
	display:block;
	text-align:center;
}
.reviews-heading h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-align:center;
	padding-bottom:45px;
}
.single-testimonial {
    position: relative;
    background:none;
	border-radius:4px;
    padding: 20px 20px;
	padding-top:35px;
	padding-bottom:35px;
}
.single-content h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size:30px;
	font-weight: 500;
	text-align:center;
}
.single-content p{
    color: #3E4462;
    font-size: 18px;
	font-family: 'Inter', sans-serif;
    font-weight:500;
    text-align: center;
	line-height:1.4;
}
.single-content hr{
	width:50%;
	border-top:1px solid #ddd;
	margin-top:25px;
	margin-bottom:25px;
}
.single-content img{
	display:block;
	margin:0px auto;
	width:auto !important;
	margin-bottom:12px;
}
.single-content h3 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size:22px;
	font-weight: 500;
	text-align:center;
	margin-bottom:2px;
}
.single-content span{
    color: #3E4462;
    font-size: 14px;
	font-family: 'Inter', sans-serif;
    font-weight:500;
    text-align: center;
	display:block;
}
.testimonial-list .owl-dots div.active {
	background: #18214D;
	height: 10px;
	width: 10px;
	border-radius: 30px;
}
.testimonial-list .owl-item.active.center {
    background-color: #fff;
}
.reviews-section .owl-dots {
    margin-top: 35px;
    text-align: center;
}
.reviews-section .owl-dots div {
    background: #DFE4EA none repeat scroll 0 0;
    display: inline-block;
    margin-left: 5px;
	height: 10px;
	width: 10px;
	border-radius: 30px;
}

/*== JOIN SECTION ==*/

.join-section{
	padding-top:60px;
	padding-bottom:60px;
}
.join-heading h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-align:center;
	padding-bottom:5px;
}
.join-heading p {
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size:18px;
	font-weight: 500;
	text-align:center;
	line-height:1.5;
	padding-bottom:25px;
}
.join-form i {
	position: absolute;
	color: #3E4462;
	font-size: 18px;
	margin-left: 13px;
	margin-top: 22px;
}
.join-form .form-control {
    background:#F2F3F8;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:60px;
    border: none;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 600;
    color: #000;
	padding-left:40px;
}
.join-form .form-control::-webkit-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight:500;
}
.join-form .form-control::-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight:500;
}
.join-form .form-control:-ms-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight:500;
}
.join-form .form-control:-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight:500;
}
.join-form button {
	background-color: #6784FF;
	width:300px;
	height:60px;
	border: medium none;
	border-radius:6px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight:600;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 14px;
	transition: all 0.5s ease 0s;
}
.join-heading2 p {
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size:18px;
	font-weight: 500;
	text-align:center;
	line-height:1.5;
	padding-top:30px;
}

/*== LEGACY SECTION ==*/

.legacy-section{
	background:url(../images/header-bg2.png) center;
	height:884px;
	background-size:cover;
}
.text-legacy{
	padding-top:170px;
}
.text-legacy span{
	color: #6784FF;
    font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 500;
	display:inline-block;
}
.text-legacy h2{
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size: 56px;
	font-weight: 600;
	padding-top:20px;
	margin-bottom:36px;
}
.text-legacy label{
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size:18px;
	font-weight: 600;
	display:block;
}
.text-legacy i {
	position: absolute;
	color: #3E4462;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 16px;
}
.text-legacy select {
	display: block;
	padding: 13px;
	width: 303px;
	height:50px !important;
	border: none;
	border:2px solid #6784FF;
	border-radius: 6px;
	background:url(../images/arrow1.png) right center no-repeat;
	background-position: right 15px center;
    background-color:#fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 19px !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left:40px;
}
.text-legacy button {
	background-color: #FF8A62;
	width: 190px;
	height: 51px;
	border: medium none;
	border-radius: 6px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 5px;
	padding-top: 11px;
	padding-bottom: 14px;
	transition: all 0.5s ease 0s;
}
.text-legacy button:hover{
	background-color: #FF8A62;
}
.text-legacy p {
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding-top:20px;
}
.step-section{
	background:#626679;
	padding-top:70px;
	padding-bottom:80px;
}
.text-step h2 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 40px;
	font-weight: 600;
	padding-bottom:40px;
}
.text-step2 h3 {
	color: #ECF3FF;
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 17px;
	padding-left: 81px;
	margin-top: -22px;
}
.text-step2 p{
	color: #ECF3FF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height:1.5;
	padding-bottom:20px;
	padding-right:50px;
}
.plan-section{
	padding-top:100px;
	padding-bottom:120px;
}
.text-plan h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 46px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 5px;
}
.text-plan p {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 1.5;
	padding-bottom:55px;
}
.text-plan2{
	border-right:1px solid #ddd;
}
.text-plan2:last-child{
	border-right:0px solid;
}
.text-plan2 h4{
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
}
.text-plan2 h2{
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 56px;
	font-weight: 700;
	text-align: center;
	padding-top:7px;
	padding-bottom:6px;
}
.text-plan2 ul{
	padding-left:0px;
}
.text-plan2 ul li{
	text-align:center;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	list-style:none;
}
.text-plan2 button {
	background:none;
	border-radius: 6px;
	border: none;
	border:2px solid #6784FF;
	color: #6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 45px;
	display:block;
	margin:0px auto;
	margin-top: 25px;
	cursor: pointer;
}
.text-plan2 button:hover {
	background:#6784FF;
	border-radius: 6px;
	border: none;
	border:2px solid #6784FF;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 45px;
	display:block;
	margin:0px auto;
	margin-top: 25px;
	cursor: pointer;
}
.text-plan2 a{
	text-align:center;
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	display:block;
	text-align:center;
	padding-top:20px;
}

/*== MORTGAGE SECTION ==*/

.mortgage-section {
	background: #F2F3F8;
	padding-top: 40px;
	padding-bottom:50px;
}
.text-mortgage h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 52px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 10px;
}
.text-mortgage p {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	line-height: 1.4;
	padding-bottom:32px;
}
.text-mortgage2 img {
    width: 100%;
}
.text-mortgage2 h2{
	color: #626679;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 500;
	padding-bottom:28px;
}
.mortgage2-overlay {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 11%;
    right: 11%;
    height: 100%;
    width: 76%;
    opacity: 1;
    transition: .5s ease;
}
.mortgage2-overlay h3{
	color: #B5D6FF;
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin-bottom:10px;
}
.mortgage2-overlay h4 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin-bottom:10px;
}
.mortgage2-overlay h5{
	color: #FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	padding-top:35px;
	margin-bottom:18px;
}
.mortgage2-overlay h6{
	color: #B5D6FF;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	padding-top:31px;
	margin-bottom:31px;
}
.mortgage2-overlay h6 span{
	color: #FFFFFF;
}
.mortgage2-overlay .progress{
	background:#1E2C4C;
	border-radius:25px;
	height:26px;
}
.mortgage2-overlay .progress-bar{
	background:#6784FF;
	border-radius:25px;
}
.mortgage2-overlay button {
	background: #FF8A62;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 13px 45px;
	display: block;
	margin: 0px auto;
	margin-top: 25px;
	cursor: pointer;
}
.text-mortgage2 span.time1 {
	color: #626679;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.text-mortgage2 span.time2 {
	color: #FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 21px;
	font-weight: 700;
	display: inline-block;
	margin-left: 25px;
	margin-top: 30px;
}
.text-mortgage3 h2 {
	color: #626679;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 28px;
}
.text-mortgage4{
	border-bottom:1px solid #ddd;
	padding-bottom:30px;
	margin-bottom:30px;
}
.text-mortgage4:last-child{
	border-bottom:0px solid #ddd;
	padding-bottom:30px;
	margin-bottom:10px;
}
.text-mortgage5 img {
	width: 100%;
}
.mortgage5-overlay {
	position: absolute;
	top: 34%;
	bottom: 0;
	left: 11%;
	right: 11%;
	height: 100%;
	width: 76%;
	opacity: 1;
	transition: .5s ease;
}
.mortgage5-overlay h3 {
	color: #B5D6FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 5px;
}
.mortgage5-overlay span {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	display:block;
}
.text-mortgage6 h4 {
	color: #626679;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight:500;
	margin-bottom: 20px;
}
.text-mortgage6 h5{
	color: #FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight:700;
	margin-bottom: 20px;
}
.text-mortgage6 button {
	background: #6784FF;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 12px 45px;
	margin-top: 5px;
	cursor: pointer;
}
.mortgage-pagination{
	display:block;
	text-align:right;
	float:right;
}
.mortgage-pagination ul.pagination{
	padding-top:0px;
	text-align:right;
}
.mortgage-pagination ul.pagination li a{
	background:none;
	border:none;
	color:#6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding-left:21px;
}

/*== ACCESS SECTION ==*/

.access-section{
	padding-top:80px;
	padding-bottom:80px;
}
.text-access{
	border-right:1px solid #ddd;
	padding-left:60px;
	padding-right:60px;
}
.text-access:last-child{
	border-right:0px solid #ddd;
}
.text-access img.img1{
	display:block;
	margin:0px auto;
	margin-bottom:15px;
}
.text-access h3{
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-align:center;
	margin-bottom: 14px;
}
.text-access p {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	text-align:center;
	padding-bottom: 20px;
}
.text-access button {
	background: #FF8A62;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 25px;
	display: block;
	margin: 0px auto;
	margin-top:13px;
	cursor: pointer;
}
.text-access button img{
	margin-right:15px;
}
.text-access button#btn1{
	background:none;
	border-radius: 6px;
	border: none;
	border:2px solid #788CCA;
	color: #788CCA;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 25px;
	display: block;
	margin: 0px auto;
	margin-top:13px;
	cursor: pointer;
}

/*== LOANS SECTION ==*/

.loans-section{
	background:#F2F3F8;
	padding-top:80px;
	padding-bottom:80px;
}
.text-loans h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 46px;
	font-weight: 600;
	text-align: center;
	padding-bottom:15px;
}
.loans-tab-ul ul li a{
	background:#FFFFFF;
	color:#6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.loans-tab-ul .nav-tabs .nav-link {
	border: 2px solid #6784FF;
	border-radius: 0px;
	padding-left: 40px;
	padding-right: 40px;
}
.loans-tab-ul ul li a.active{
	background:#6784FF;
	border:2px solid #6784FF;
	color:#fff;
}
.loans-tab-ul .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff;
	border:2px solid #6784FF;
}
.loans-tab-ul .nav-tabs{
	border-bottom:0px solid;
}
.tab-text h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	padding-top:35px;
	padding-bottom: 25px;
}
.tab-text .col-auto::after {
	position: absolute;
	content: "%";
	right: 17px;
	top: 11px;
	color: #788CCA;
	font-size: 18px;
}
.tab-text .form-control {
    background:#fff;
	width:200px;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:50px;
    border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
    color: #000;
	padding-left:20px;
	padding-right:20px;
}
.tab-text .form-control::-webkit-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-text .form-control::-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight:500;
}
.tab-text .form-control:-ms-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight:500;
}
.tab-text .form-control:-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight:500;
}
.tab-text select {
	display: block;
	padding: 13px;
	width:200px;
	height: 50px !important;
	border: none;
	border: 2px solid #6784FF;
	border-radius: 6px;
	background: url(../images/arrow2.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px !important;
	margin:0px auto;
	margin-top:15px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left:20px;
}
.tab-text button {
	background: #FF8A62;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 53px;
	display: block;
	margin: 0px auto;
	margin-top: 35px;
	cursor: pointer;
}
.tab-text button:hover {
	background: #FF8A62;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 53px;
	display: block;
	margin: 0px auto;
	margin-top: 35px;
	cursor: pointer;
}

/*== PROFILE SECTION ==*/

.profile-section{
	background:#F2F3F8;
	padding-top:50px;
	padding-bottom:80px;
}
.tab-profile h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 56px;
	font-weight: 600;
	text-align:center;
	padding-bottom: 15px;
}
.profile-tab-ul ul li a{
	background:#FFFFFF;
	color:#6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.profile-tab-ul .nav-tabs .nav-link {
	border: 2px solid #6784FF;
	border-radius: 0px;
	padding-left: 40px;
	padding-right: 40px;
}
.profile-tab-ul .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff;
	border:2px solid #6784FF;
}
.profile-tab-ul ul li a.active {
	background: #6784FF;
	border: 2px solid #6784FF;
	color: #fff;
}
.tab-profile2 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom: 5px;
}
.tab-profile2 p {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding-bottom:10px;
}
.tab-profile2 label{
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-bottom:0px;
}
.tab-profile2 input#address{
	width:470px;
}
.tab-profile2 .form-control {
    background:#fff;
	width:235px;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:50px;
    border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
    color: #000;
	padding-left:20px;
	padding-right:20px;
}
.tab-profile2 .form-control::-webkit-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile2 .form-control::-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile2 .form-control:-ms-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile2 .form-control:-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile2 select {
	display: block;
	padding: 6px;
	width:235px;
	height: 50px !important;
	border: none;
	border: 2px solid #3E4462;
	border-radius: 6px;
	background: url(../images/arrow1.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin:0px auto;
	margin-top:0px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left:20px;
}
.tab-profile2-hr hr {
	margin-top: 10px;
	padding-bottom: 20px;
}
.tab-profile2 .form-row{
	padding-bottom:25px;
}
.profile-checkboxdiv{
	padding-left:22px;
}
.profile-checkboxdiv #exampleCheck1{
	margin-top:15px;
}
.tab-profile2 label#profilelabel {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-top: 12px;
}
.profile-checkboxdiv #exampleCheck2{
	margin-top:8px;
}
.tab-profile2 label#profilelabel2 {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-top: 3px;
}
.tab-profile2 button {
	background: #6784FF;
	width: 231px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 44px;
	margin-top: 0px;
	margin-left: 0;
	cursor: pointer;
}
.tab-profile2 h3{
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform:uppercase;
	padding-top: 12px;
	padding-bottom:10px;
}
.tab-profile2 h3 img{
	margin-left:13px;
}
.tab-plus-icon img{
	float:right;
}
.tab-profile2 button#btn1 {
	background: #6784FF;
	width: 235px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 0px;
	margin-left: 19px;
	cursor: pointer;
	float:right;
}
.tab-profile2 img.tab-icon1 {
	margin-left: 204px;
	padding-top: 30px;
}
.tab-profile2 p.paragraph {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 0;
}
.tab-profile2 button#btn2 {
	background: #9CAFC3;
	width: 256px;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	opacity:0.6;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 0px;
	margin-left: 19px;
	cursor: pointer;
	float: right;
}
.tab-profile2 button#btnnew {
	background: #345DEE;
	width: 256px;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	opacity: 0.6;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 0px;
	margin-left: 19px;
	cursor: pointer;
	float: right;
}
#distribute-div{
	padding-top:200px;
}
#key3-div{
	padding-top:20px;
}

/*== DISTRIBUTION SECTION ==*/

.tab-profile3 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom: 5px;
}
.tab-profile3 p {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding-bottom:10px;
}
.tab-profile3 label{
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-bottom:0px;
}
.tab-profile3 .form-control {
    background:#fff;
	width:235px;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:50px;
    border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
    color: #000;
	padding-left:20px;
	padding-right:20px;
}
.tab-profile3 .form-control::-webkit-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile3 .form-control::-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile3 .form-control:-ms-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile3 .form-control:-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile3-hr hr {
	margin-top: 27px;
	padding-bottom: 15px;
}
.tab-profile3 .form-row{
	padding-bottom:0px;
}
.tab-profile3 #exampleCheck1{
	margin-top:15px;
}
.tab-profile3 label#profilelabel {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding-top: 12px;
}
.tab-profile3 button#distri-btn {
	background: #6784FF;
	width: 235px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 35px;
	margin-left: 19px;
	cursor: pointer;
	float: right;
}
.tab-profile3 h3{
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding-top: 0px;
	padding-bottom:10px;
	padding-right:7px;
}
.tab-profile3 h3 a{
	display:inline-block;
	color:#6784FF;
	font-size:18px;
	font-weight:700;
	padding-left:5px;
}
.tab-profile3 input#percentinput {
	background: #fff;
	width: 170px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #000;
	padding-left: 20px;
	margin-top: 35px;
}
.tab-profile3 input#percentinput::-webkit-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:600;
}
.tab-profile3 input#percentinput::-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:600;
}
.tab-profile3 input#percentinput:-ms-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:600;
}
.tab-profile3 input#percentinput:-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:600;
}
.tab-profile3 input#address{
    background:#fff;
	width:100%;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:50px;
    border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
    color: #000;
	padding-left:20px;
}
.distribute-checkboxdiv {
	padding-left: 22px;
}
.tab-profile3 img#close-icon1 {
	float: right;
	position: absolute;
	right: 70px;
	top: 48px;
}
.nav-tabs {
	border-bottom: 0px solid #dee2e6;
}
.tab-profile3 input#inputperson{
	width:352px;
}
.distribute-text-wrap{
	background:#fff;
	border-radius:5px;
	padding-top:20px;
	padding-left:20px;
}
.distribute-text p{
	padding-bottom:0px;
	margin-bottom:8px;
	font-weight:700;
}
.distribute-text2 p{
	padding-bottom:0px;
	margin-bottom:8px;
}
.distribute-text-img img{
	float:right;
	padding-right:12px;
}


/*== FOOTER SECTION ==*/

.footer-section{
	background:#F2F3F8;
	padding-top:65px;
	padding-bottom:50px;
}
.footer-section2{
	background:#fff;
	padding-top:65px;
	padding-bottom:50px;
}
.footer-logo h3 {
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size: 28px;
	font-weight: 700;
}
.footer-nav ul{
	padding-left:0px;
	text-align:center;
	display:block;
}
.footer-nav ul li {
	display: inline-block;
	list-style: none;
	padding-left: 15px;
	padding-right: 15px;
}
.footer-nav ul li a{
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
}
.footer-social{
	display:block;
	text-align:right;
}
.footer-social a {
	color: #18214D;
	font-size: 18px;
	display: inline-block;
	margin-left: 20px;
}
.copyright-section{
	background:#F2F3F8;
	padding-bottom:30px;
}
.copyright-section{
	background:#F2F3F8;
	padding-bottom:30px;
}
.copyright-section2{
	background:#fff;
	padding-bottom:30px;
}
.copyright-wrap{
	border-top:1px solid #ddd;
	padding-top:45px;
}
.copyright-text p {
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-align:center;
}