/* Desktop Layout */

.mobile-nav{
	display:none;
}
.slideprogress{
	width:745px;
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.tab-profile3 .slideprogress{
	width:750px !important;
}
.heading-logo{
	padding-left:0px;
}
.heading-nav {
	display: block;
	text-align: left;
	padding-top: 35px;
	padding-left: 30px;
}
.heading-nav ul li{
	display: inline-block;
	list-style: none;
	padding-right: 21px;
	position: relative;
}
.heading-nav ul li:last-child {
	display: inline-block;
	list-style: none;
	padding-right: 0px;
	position: relative;
}
.heading-btn a {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 30px;
	margin-left: 25px;
	display: inline-block;
	margin-bottom: 27px;
}
.heading-btn a.last {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 51px;
	margin-left: 26px;
	display: inline-block;
	cursor: pointer;
}
.silver-section {
	background: #F2F3F8;
	height: auto;
	padding-top: 0px;
	padding-bottom: 80px;
}
.text-silver {
	padding-top: 80px;
}
.text-silver h1 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 61px;
	font-weight: 700;
	margin-bottom: 20px;
}
.silver-social {
	padding-top: 80px;
}
.text-perfect h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 43px;
	font-weight: 600;
	margin-bottom: 50px;
}
.text-perfect img {
	max-width: 100%;
	margin-bottom: 30px;
}
.join-heading{
	margin-left:15px;
}
.join-form{
	margin-left:15px;
}
.join-form button {
	background-color: #6784FF;
	width: 220px;
	height: 60px;
	border: medium none;
	border-radius: 6px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 14px;
	transition: all 0.5s ease 0s;
}
.join-heading2{
	margin-left:15px;
}
.text-mortgage3{
	padding-top:40px;
}
.access-section {
	padding-top: 80px;
	padding-bottom: 40px;
}
.text-access {
	border-right: 1px solid #ddd;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 60px;
}
.text-loans{
	margin-left:15px;
}
.legacy-section {
	height: auto;
	background-size: cover;
	padding-bottom: 120px;
}
.text-legacy {
	padding-top: 80px;
}
.text-step h2 {
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	font-weight: 600;
	padding-bottom: 40px;
}
.text-step2{
	padding-bottom:45px;
}
.text-step2 h3 {
	font-family: 'Inter', sans-serif;
	font-size: 28px;
	font-weight: 600;
	padding-bottom: 17px;
	padding-left: 81px;
	margin-top: -22px;
}
.step-section {
	height:auto;
	padding-top: 70px;
	padding-bottom: 28px;
}
.text-plan{
	margin-left:15px;
}
.tab-profile2{
	margin-left:15px;
}
.tab-profile2 .form-control {
	background: #fff;
	width: 208px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-profile3{
	margin-left:15px;
}
.tab-profile3 .form-control {
	background: #fff;
	width: 208px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-profile2 input#address {
	width: 446px;
}
.tab-profile2 button {
	background: #6784FF;
	width: 212px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 0;
	margin-left: 0;
	cursor: pointer;
}
.tab-profile3 input#inputperson {
	width: 324px;
}
.tab-profile3 input#percentinput {
	background: #fff;
	width: 161px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #000;
	padding-left: 20px;
	margin-top: 35px;
}
.text-step2 p {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	padding-bottom: 20px;
	padding-right: 0;
}
.text-mortgage{
	margin-left:15px;
}
.tab-profile2 img.tab-icon1 {
	margin-left: 167px;
	padding-top: 30px;
}
.user-left {
	height: auto;
	background-size: cover;
	padding-bottom: 80px;
}
.user-left img {
	display: block;
	margin: 0px auto;
    max-width:100%;
	margin-top: 24%;
}
.divclass-button img {
	cursor: pointer;
	margin-left: 0;
	margin-top: 137px;
	z-index: 99999999;
	overflow: hidden;
	position: relative;
}
.divclass-button img.nexttab {
	margin-left: 84%;
}
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
.tab-profile3 .slideprogress{
	width:300px !important;
}
.heading-logo{
	display:none;
}
.heading-nav{
	display:none;
}
.mobile-nav{
	display:block;
}
#mobilenav{
	background: rgba(229, 229, 229, 1.1) !important;
}
#mobilenav .modal-header{
	padding-top:4px;
}
#mobilenav .modal-header h5{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #000000;
	line-height: 1.5;
	padding-top: 3px;
	display: block;
}
#mobilenav .modal-header button {
	opacity: 1;
	padding-top: 25px;
}
#mobilenav .modal-header span{
	font-size:32px;
	color: #000000;
	opacity:1;
}
#mobilenav .modal-content{
	border:none;
	background:none !important;
}
.mobile-nav-ul ul{
	padding-left:0px;
	padding-top:22px;
}
.mobile-nav-ul ul li{
	list-style:none;
	padding-bottom:22px;
}
.mobile-nav-ul ul li a {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 32px;
	font-weight:400;
	color: #000000;
	line-height: 1.9;
}
.mobile-nav-ul ul li a:hover{
	border-bottom:2px solid #384185;
}
.mobile-nav-ul ul li a.active{
	border-bottom:2px solid #384185;
}
.mobile-logo{
	padding-left:15px;
}
.mobile-logo a {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	line-height: 1.5;
	padding-top: 20px;
	display: block;
}
.mobile-icon img {
	float: right;
	margin-top: 50px;
	margin-right: 6px;
}
.heading-btn {
	padding-top: 30px;
	display: none;
}
.text-legacy button {
	background-color: #FF8A62;
	width: 190px;
	height: 51px;
	border: medium none;
	border-radius: 6px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
	padding-top: 11px;
	padding-bottom: 14px;
	transition: all 0.5s ease 0s;
}
.heading-logo{
	padding-left:0px;
}
.silver-section {
	background: #F2F3F8;
	height: auto;
	padding-top: 0px;
	padding-bottom: 80px;
}
.text-silver {
	padding-top: 80px;
}
.text-silver h1 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 61px;
	font-weight: 700;
	margin-bottom: 20px;
}
.silver-social {
	padding-top: 80px;
}
.text-perfect h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size:30px;
	font-weight: 600;
	margin-bottom: 50px;
}
.text-perfect img {
	max-width: 100%;
	margin-bottom: 30px;
}
.join-heading{
	margin-left:15px;
}
.join-form{
	margin-left:15px;
}
.join-form button {
	background-color: #6784FF;
	width: 220px;
	height: 60px;
	border: medium none;
	border-radius: 6px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 14px;
	transition: all 0.5s ease 0s;
}
.join-heading2{
	margin-left:15px;
}
.text-mortgage3{
	padding-top:40px;
}
.access-section {
	padding-top: 80px;
	padding-bottom: 40px;
}
.text-access {
	border-right: 1px solid #ddd;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
}
.text-loans{
	margin-left:15px;
}
.legacy-section {
	height: auto;
	background-size: cover;
	padding-bottom: 120px;
}
.text-legacy {
	padding-top: 80px;
}
.text-step h2 {
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	font-weight: 600;
	padding-bottom: 40px;
}
.text-step2{
	padding-bottom:45px;
}
.text-step2 h3 {
	font-family: 'Inter', sans-serif;
	font-size: 28px;
	font-weight: 600;
	padding-bottom: 17px;
	padding-left: 81px;
	margin-top: -22px;
}
.step-section {
	height:auto;
	padding-top: 70px;
	padding-bottom: 28px;
}
.text-plan{
	margin-left:15px;
}
.tab-profile2{
	margin-left:15px;
}
.tab-profile2 .form-control {
	background: #fff;
	width: 201px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-profile3{
	margin-left:15px;
}
.tab-profile3 .form-control {
	background: #fff;
	width: 208px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-profile2 input#address {
	width: 218px;
}
.tab-profile2 button {
	background: #6784FF;
	width: 235px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 40px;
	margin-left: 0;
	cursor: pointer;
}
.tab-profile3 input#inputperson {
	width: 324px;
}
.tab-profile3 input#percentinput {
	background: #fff;
	width: 161px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #000;
	padding-left: 20px;
	margin-top: 35px;
}
.text-legacy h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 43px;
	font-weight: 600;
	padding-top: 20px;
	margin-bottom: 36px;
}
.text-legacy select {
	display: block;
	padding: 13px;
	width: 300px;
	height: 50px !important;
	border: none;
	border: 2px solid #6784FF;
	border-radius: 6px;
	background: url(../images/arrow1.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 19px !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 40px;
}
.text-plan h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 5px;
}
.text-plan2 {
	border-right: 1px solid #ddd;
	padding-bottom: 50px;
}
.plan-section {
	padding-top: 100px;
	padding-bottom: 80px;
}
.footer-nav{
	padding-top:22px;
	padding-bottom:13px;
}
.text-plan2 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 45px;
	font-weight: 700;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 6px;
}
.text-step2 p {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	padding-bottom: 20px;
	padding-right: 0;
}
.text-mortgage{
	margin-left:15px;
}
.text-mortgage h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 38px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 10px;
}
.text-mortgage p {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	line-height: 1.4;
	padding-bottom: 32px;
}
.mortgage2-overlay {
	position: absolute;
	top: 17%;
	bottom: 0;
	left: 11%;
	right: 11%;
	height: 100%;
	width: 76%;
	opacity: 1;
	transition: .5s ease;
}
.mortgage2-overlay h3 {
	color: #B5D6FF;
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	padding-top:5px;
	margin-bottom: 10px;
}
.mortgage2-overlay h4 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
}
.mortgage2-overlay h5 {
	color: #FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 18px;
}
.mortgage2-overlay .progress {
	background: #1E2C4C;
	border-radius: 25px;
	height: 19px;
}
.mortgage2-overlay h6 {
	color: #B5D6FF;
	font-family: 'Inter', sans-serif;
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	padding-top: 16px;
	margin-bottom: 22px;
}
.mortgage2-overlay h6 span{
	font-size:18px;
}
.mortgage2-overlay button {
	background: #FF8A62;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 36px;
	display: block;
	margin: 0px auto;
	margin-top: 25px;
	cursor: pointer;
}
.text-mortgage2 span.time2 {
	color: #FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	margin-left: 10px;
	margin-top: 30px;
}
.mortgage5-overlay {
	position: absolute;
	top: 16%;
	bottom: 0;
	left: 11%;
	right: 11%;
	height: 100%;
	width: 76%;
	opacity: 1;
	transition: .5s ease;
}
.text-mortgage6 h4 {
	color: #626679;
	font-family: 'Inter', sans-serif;
	font-size: 17px;
	font-weight: 500;
	margin-bottom:8px;
}
.text-mortgage6 h5 {
	color: #FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}
.text-mortgage6 button {
	background: #6784FF;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding: 11px 41px;
	margin-top: 5px;
	cursor: pointer;
}
.text-loans h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 31px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 15px;
}
.mortgage-pagination{
	margin-left:0px;
}
.tab-text .form-control {
	background: #fff;
	width: 100%;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-text select {
	display: block;
	padding: 13px;
	width: 70%;
	height: 50px !important;
	border: none;
	border: 2px solid #6784FF;
	border-radius: 6px;
	background: url(../images/arrow2.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px !important;
	margin: 0px auto;
	margin-top: 15px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 20px;
}
.reviews-heading h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 31px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 45px;
}
.join-heading h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 5px;
}
.single-content h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
}
.tab-profile h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 15px;
}
.profile-tab-ul .nav-tabs .nav-link {
	border: 2px solid #6784FF;
	border-radius: 0px;
	padding-left: 12px;
	padding-right: 11px;
}
.profile-tab-ul ul li a {
	background: #FFFFFF;
	color: #6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight: 700;
}
.tab-profile2 .form-row {
	padding-bottom:20px;
}
.tab-profile2 select {
	display: block;
	padding: 6px;
	width: 235px;
	height: 50px !important;
	border: none;
	border: 2px solid #3E4462;
	border-radius: 6px;
	background: url(../images/arrow1.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0px auto;
	margin-top: 0px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 20px;
	margin-bottom: 20px;
}
.profile-checkboxdiv .col-4{
	max-width:100%;
}
.tab-profile2 img.tab-icon1 {
	margin-left: 65px;
	padding-top: 21px;
	width: 21%;
}
.tab-profile2 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom: 5px;
}
.profile-checkboxdiv .col-8 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.profile-checkboxdiv .col-7 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.tab-profile2 button#btn1 {
	background: #6784FF;
	width: 236px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 30px;
	margin-left: 19px;
	cursor: pointer;
	float: left;
}
.tab-profile2 button#btn2 {
	background: #9CAFC3;
	width: 256px;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	opacity: 0.6;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 29px;
	margin-left: 19px;
	cursor: pointer;
	float: left;
}
.tab-profile3 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom: 5px;
}
.tab-profile3 input#inputperson {
	width: 300px;
}
.tab-profile3 input#inputperson::-webkit-input-placeholder {
	font-size: 15px;
}
.tab-profile3 input#inputperson::-moz-placeholder {
	font-size: 15px;
}
.tab-profile3 input#inputperson:-ms-input-placeholder {
	font-size: 15px;
}
.tab-profile3 input#inputperson:-moz-placeholder {
	font-size: 15px;
}
.tab-profile3 .col-9 img{
	max-width:100%;
}
.tab-profile3 input#percentinput {
	background: #fff;
	width: 150px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #000;
	padding-left: 0;
	margin-top: 10px;
}
.tab-profile3 input#percentinput::-webkit-input-placeholder {
	font-size: 13px;
}
.tab-profile3 input#percentinput::-moz-placeholder {
	font-size: 13px;
}
.tab-profile3 input#percentinput:-ms-input-placeholder {
	font-size: 13px;
}
.tab-profile3 input#percentinput:-moz-placeholder {
	font-size: 13px;
}
.tab-profile3 button#distri-btn {
	background: #6784FF;
	width: 66%;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 33px;
	margin-top: 8px;
	margin-left: 0;
	cursor: pointer;
	float: left;
}
.tab-profile2 button#btnnew {
	background: #345DEE;
	width: 256px;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	opacity: 0.6;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 20px;
	margin-left: 19px;
	cursor: pointer;
	float: left;
}
.join-form .form-control {
	background: #F2F3F8;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 60px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #000;
	padding-left: 40px;
	width: 87%;
}
.inputcharity{
	max-width:100%;
}
.slideprogress {
	-ms-flex: 0 0 75%;
	flex: 0 0 100%;
	max-width: 100%;
}
.valuesgd {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.valuebtn{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.tab-profile2 p {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 500;
	padding-bottom: 10px;
}
.tab-profile3 img#close-icon1 {
	float: right;
	position: absolute;
	right: 32px;
	top: 38px;
}

.user-left {
	height: auto;
	background-size: cover;
}
.heading-btn2 a.last {
	background: #1E2C4C;
	border: 1px solid #6784FF;
	border-radius: 5px;
	color: #6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 45px;
	margin-left: 0;
	display: inline-block;
	cursor: pointer;
	margin-top: 20px;
}
.user-right {
	background: #1E2C4C;
	height: auto;
	padding-bottom: 70px;
	padding-left: 10px;
	padding-right: 10px;
}
.user-contact-input h2 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 25px;
	font-weight: 600;
	padding-top: 70px;
	padding-bottom: 30px;
}
.user-input-btn button {
	background: #6784FF;
	border: 1px solid #6784FF;
	border-radius: 5px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	padding: 13px 23px;
	margin-top: 30px;
	margin-left: 18px;
	display: inline-block;
}
.divclass-button{
	display:none;
}
}

/* Wide Mobile Layout: */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.tab-profile3 .slideprogress{
	width:450px !important;
}
.heading-logo{
	display:none;
}
.heading-nav{
	display:none;
}
.mobile-nav{
	display:block;
}
#mobilenav{
	background: rgba(229, 229, 229, 1.1) !important;
}
#mobilenav .modal-header{
	padding-top:4px;
}
#mobilenav .modal-header h5{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #000000;
	line-height: 1.5;
	padding-top: 3px;
	display: block;
}
#mobilenav .modal-header button {
	opacity: 1;
	padding-top: 25px;
}
#mobilenav .modal-header span{
	font-size:32px;
	color: #000000;
	opacity:1;
}
#mobilenav .modal-content{
	border:none;
	background:none !important;
}
.mobile-nav-ul ul{
	padding-left:0px;
	padding-top:22px;
}
.mobile-nav-ul ul li{
	list-style:none;
	padding-bottom:22px;
}
.mobile-nav-ul ul li a {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 32px;
	font-weight:400;
	color: #000000;
	line-height: 1.9;
}
.mobile-nav-ul ul li a:hover{
	border-bottom:2px solid #384185;
}
.mobile-nav-ul ul li a.active{
	border-bottom:2px solid #384185;
}
.mobile-logo{
	padding-left:15px;
}
.mobile-logo a {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	line-height: 1.5;
	padding-top: 20px;
	display: block;
}
.mobile-icon img {
	float: right;
	margin-top: 50px;
	margin-right: 6px;
}
.heading-btn {
	padding-top: 30px;
	display: none;
}
.text-legacy button {
	background-color: #FF8A62;
	width: 190px;
	height: 51px;
	border: medium none;
	border-radius: 6px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
	padding-top: 11px;
	padding-bottom: 14px;
	transition: all 0.5s ease 0s;
}
.heading-logo{
	padding-left:0px;
}
.silver-section {
	background: #F2F3F8;
	height: auto;
	padding-top: 0px;
	padding-bottom: 80px;
}
.text-silver {
	padding-top: 80px;
}
.text-silver h1 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 61px;
	font-weight: 700;
	margin-bottom: 20px;
}
.silver-social {
	padding-top: 80px;
}
.text-perfect h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size:30px;
	font-weight: 600;
	margin-bottom: 50px;
}
.text-perfect img {
	max-width: 100%;
	margin-bottom: 30px;
}
.join-heading{
	margin-left:15px;
}
.join-form{
	margin-left:15px;
}
.join-form button {
	background-color: #6784FF;
	width: 220px;
	height: 60px;
	border: medium none;
	border-radius: 6px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 14px;
	transition: all 0.5s ease 0s;
}
.join-heading2{
	margin-left:15px;
}
.text-mortgage3{
	padding-top:40px;
}
.access-section {
	padding-top: 80px;
	padding-bottom: 40px;
}
.text-access {
	border-right: 1px solid #ddd;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
}
.text-loans{
	margin-left:15px;
}
.legacy-section {
	height: auto;
	background-size: cover;
	padding-bottom: 120px;
}
.text-legacy {
	padding-top: 80px;
}
.text-step h2 {
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	font-weight: 600;
	padding-bottom: 40px;
}
.text-step2{
	padding-bottom:45px;
}
.text-step2 h3 {
	font-family: 'Inter', sans-serif;
	font-size: 28px;
	font-weight: 600;
	padding-bottom: 17px;
	padding-left: 81px;
	margin-top: -22px;
}
.step-section {
	height: auto;
	padding-top: 70px;
	padding-bottom: 28px;
}
.text-plan{
	margin-left:15px;
}
.tab-profile2{
	margin-left:15px;
}
.tab-profile2 .form-control {
	background: #fff;
	width: 201px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-profile3{
	margin-left:15px;
}
.tab-profile3 .form-control {
	background: #fff;
	width: 208px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-profile2 input#address {
	width: 218px;
}
.tab-profile2 button {
	background: #6784FF;
	width: 235px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 40px;
	margin-left: 0;
	cursor: pointer;
}
.tab-profile3 input#inputperson {
	width: 324px;
}
.tab-profile3 input#percentinput {
	background: #fff;
	width: 161px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #000;
	padding-left: 20px;
	margin-top: 35px;
}
.text-legacy h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 43px;
	font-weight: 600;
	padding-top: 20px;
	margin-bottom: 36px;
}
.text-legacy select {
	display: block;
	padding: 13px;
	width: 300px;
	height: 50px !important;
	border: none;
	border: 2px solid #6784FF;
	border-radius: 6px;
	background: url(../images/arrow1.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 19px !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 40px;
}
.text-plan h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 5px;
}
.text-plan2 {
	border-right: 1px solid #ddd;
	padding-bottom: 50px;
}
.plan-section {
	padding-top: 100px;
	padding-bottom: 80px;
}
.footer-nav{
	padding-top:22px;
	padding-bottom:13px;
}
.text-plan2 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 45px;
	font-weight: 700;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 6px;
}
.text-step2 p {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	padding-bottom: 20px;
	padding-right: 0;
}
.text-mortgage{
	margin-left:15px;
}
.text-mortgage h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 38px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 10px;
}
.text-mortgage p {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	line-height: 1.4;
	padding-bottom: 32px;
}
.mortgage2-overlay {
	position: absolute;
	top: 17%;
	bottom: 0;
	left: 11%;
	right: 11%;
	height: 100%;
	width: 76%;
	opacity: 1;
	transition: .5s ease;
}
.mortgage2-overlay h3 {
	color: #B5D6FF;
	font-family: 'Inter', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
}
.mortgage2-overlay h4 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
}
.mortgage2-overlay h5 {
	color: #FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 27px;
	font-weight: 700;
	text-align: center;
	padding-top: 23px;
	margin-bottom: 18px;
}
.mortgage-pagination{
	margin-left:0px;
}
.tab-text .form-control {
	background: #fff;
	width: 100%;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-text select {
	display: block;
	padding: 13px;
	width: 70%;
	height: 50px !important;
	border: none;
	border: 2px solid #6784FF;
	border-radius: 6px;
	background: url(../images/arrow2.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px !important;
	margin: 0px auto;
	margin-top: 15px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 20px;
}
.reviews-heading h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 31px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 45px;
}
.join-heading h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 5px;
}
.single-content h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
}
.tab-profile h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 15px;
}
.profile-tab-ul .nav-tabs .nav-link {
	border: 2px solid #6784FF;
	border-radius: 0px;
	padding-left: 16px;
	padding-right: 15px;
}
.profile-tab-ul ul li a {
	background: #FFFFFF;
	color: #6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-weight: 700;
}
.tab-profile2 .form-row {
	padding-bottom:20px;
}
.tab-profile2 select {
	display: block;
	padding: 6px;
	width: 235px;
	height: 50px !important;
	border: none;
	border: 2px solid #3E4462;
	border-radius: 6px;
	background: url(../images/arrow1.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0px auto;
	margin-top: 0px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 20px;
	margin-bottom: 20px;
}
.profile-checkboxdiv .col-4{
	max-width:100%;
}
.tab-profile2 img.tab-icon1 {
	margin-left: 105px;
	padding-top: 21px;
	width: 21%;
}
.tab-profile2 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom: 5px;
}
.profile-checkboxdiv .col-8 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.profile-checkboxdiv .col-7 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.tab-profile2 button#btn1 {
	background: #6784FF;
	width: 236px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 30px;
	margin-left: 19px;
	cursor: pointer;
	float: left;
}
.tab-profile2 button#btn2 {
	background: #9CAFC3;
	width: 256px;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	opacity: 0.6;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 29px;
	margin-left: 19px;
	cursor: pointer;
	float: left;
}
.tab-profile3 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom: 5px;
}
.tab-profile3 input#inputperson {
	width: 196px;
}
.tab-profile3 input#inputperson::-webkit-input-placeholder {
	font-size: 15px;
}
.tab-profile3 input#inputperson::-moz-placeholder {
	font-size: 15px;
}
.tab-profile3 input#inputperson:-ms-input-placeholder {
	font-size: 15px;
}
.tab-profile3 input#inputperson:-moz-placeholder {
	font-size: 15px;
}
.tab-profile3 .col-9 img{
	max-width:100%;
}
.tab-profile3 input#percentinput {
	background: #fff;
	width: 100%;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #000;
	padding-left: 20px;
	margin-top: 35px;
}
.tab-profile3 input#percentinput::-webkit-input-placeholder {
	font-size: 13px;
}
.tab-profile3 input#percentinput::-moz-placeholder {
	font-size: 13px;
}
.tab-profile3 input#percentinput:-ms-input-placeholder {
	font-size: 13px;
}
.tab-profile3 input#percentinput:-moz-placeholder {
	font-size: 13px;
}
.tab-profile3 button#distri-btn {
	background: #6784FF;
	width: 212px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 33px;
	margin-top: 61px;
	margin-left: 19px;
	cursor: pointer;
	float: right;
}
.tab-profile2 button#btnnew {
	background: #345DEE;
	width: 256px;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	opacity: 0.6;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 20px;
	margin-left: 19px;
	cursor: pointer;
	float: left;
}
.user-left {
	height: auto;
	background-size: cover;
}
.heading-btn2 a.last {
	background: #1E2C4C;
	border: 1px solid #6784FF;
	border-radius: 5px;
	color: #6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 45px;
	margin-left: 0;
	display: inline-block;
	cursor: pointer;
	margin-top: 20px;
}
.user-right {
	background: #1E2C4C;
	height: auto;
	padding-bottom:70px;
	padding-left: 25px;
	padding-right: 25px;
}
.user-contact-input h2 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	font-weight: 600;
	padding-top: 70px;
	padding-bottom: 30px;
}
.user-input-btn button {
	background: #6784FF;
	border: 1px solid #6784FF;
	border-radius: 5px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	padding: 13px 23px;
	margin-top: 30px;
	margin-left: 18px;
	display: inline-block;
}
.divclass-button{
	display:none;
}
.text-silver-img img {
	max-width: 79%;
	padding-top: 120px;
	display: block;
	margin: 0px auto;
}
}