/*== HEADER SECTION ==*/

/*== PROFILE SECTION ==*/

.profile-section{
	background:#F2F3F8;
	padding-top:50px;
	padding-bottom:80px;
}
.tab-profile h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 56px;
	font-weight: 600;
	text-align:center;
	padding-bottom: 15px;
}
.profile-tab-ul ul li a{
	background:#FFFFFF;
	color:#6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.profile-tab-ul .nav-tabs .nav-link {
	border: 2px solid #6784FF;
	border-radius: 0px;
	padding-left: 40px;
	padding-right: 40px;
}
.profile-nav {
	border: 2px solid #6784FF;
	border-radius: 0px;
	padding-left: 40px;
	padding-right: 40px;
	padding: .5rem 1rem;
}
.profile-tab-ul .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff;
	border:2px solid #6784FF;
}
.profile-tab-ul ul li a {
	border: 2px solid #6784FF;
	border-radius: 0px;
    padding: 10px 40px;
    cursor: pointer;
    display: block;
}
.profile-tab-ul ul li a.active {
	background: #6784FF;
	border: 2px solid #6784FF;
	color: #fff;
}
.profile-tab-ul ul li a:hover{
	text-decoration:none;
}
.tab-profile2 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom: 5px;
}
.tab-profile2 p {
	color: #3E4462;
	font-size: 18px;
	font-weight: 500;
	padding-bottom:10px;
}
.tab-profile2 label{
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-bottom:0px;
}
.tab-profile2 label{
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-bottom:0px;
}
.tab-profile2 input#address{
	width:470px;
}
.tab-profile2 .form-control {
    background:#fff;
	width:235px;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:50px;
    border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
    color: #3E4462;
	padding-left:20px;
	padding-right:20px;
}
.tab-profile2 .form-control::-webkit-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile2 .form-control::-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile2 .form-control:-ms-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile2 .form-control:-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile2 .react-datepicker__month-select {
	display: block;
	padding: 6px;
	width:100%;
	height: 35px !important;
	border: none;
	border: 2px solid #3E4462;
	border-radius: 6px;
	background: url("../images/arrow1.png") right center no-repeat;
	background-position: right 3px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin:0px auto;
	margin-top:0px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left:13px;
}
.tab-profile2 .react-datepicker__year-select {
	display: block;
	padding: 6px;
	width:100px;
	height: 35px !important;
	border: none;
	border: 2px solid #3E4462;
	border-radius: 6px;
	background: url("../images/arrow1.png") right center no-repeat;
	background-position: right 3px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin:0px auto;
	margin-top:0px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left:20px;
}
.tab-profile2 select {
	display: block;
	padding: 6px;
	width:235px;
	height: 50px !important;
	border: none;
	border: 2px solid #3E4462;
	border-radius: 6px;
	background: url("../images/arrow1.png") right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin:0px auto;
	margin-top:0px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left:20px;
}
.new-select select{
	width:100%;
}
.new-select2{
	padding-top:20px;
}
.new-select2 select{
	width:100%;
}
.column-sum{
	padding-left:10px !important;
}
.tab-profile2-hr hr {
	margin-top: 10px;
	padding-bottom: 20px;
}
.tab-profile2 .form-row{
	padding-bottom:25px;
}
.profile-checkboxdiv{
	padding-left:22px;
}
.profile-checkboxdiv #exampleCheck1{
	margin-top:15px;
}
.tab-profile2 label#profilelabel {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-top: 12px;
}
.profile-checkboxdiv #exampleCheck2{
	margin-top:8px;
}
.tab-profile2 label#profilelabel2 {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-top: 3px;
}
.tab-profile2 button {
	background: #6784FF;
	width: 231px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 44px;
	margin-top: 0px;
	margin-left: 0;
	cursor: pointer;
}
.tab-profile2 h3{
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform:uppercase;
	padding-top: 12px;
	padding-bottom:10px;
}
.tab-profile2 h3 img{
	margin-left:13px;
}
.tab-plus-icon img{
	float:right;
}
.tab-profile2 button#btn1 {
	background: #6784FF;
	width: 235px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 32px;
	margin-top: 0px;
	margin-left: 19px;
	cursor: pointer;
	float:right;
}
.tab-profile2 img.tab-icon1 {
	margin-left: 204px;
	padding-top: 30px;
}
.tab-profile2 p.paragraph {
	color: #3E4462;
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 0;
}
.tab-profile2 button#btn2 {
	background: #9CAFC3;
	width: 256px;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	opacity: 0.6;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 45px;
	margin-top: 0px;
	margin-left: 19px;
	cursor: pointer;
	float: right;
}
.tab-profile2 button#btnnew {
	background: #345DEE;
	width: 256px;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	opacity: 0.6;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 53px;
	margin-top: 0px;
	margin-left: 19px;
	cursor: pointer;
	float: right;
}
#distribute-div{
	padding-top:200px;
}
#key3-div{
	padding-top:20px;
}

/*== DISTRIBUTION SECTION ==*/

.tab-profile3 h2 {
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	font-weight: 600;
	padding-top: 35px;
	padding-bottom: 5px;
}
.tab-profile3 p {
	color: #3E4462;
	font-size: 18px;
	font-weight: 500;
	padding-bottom:10px;
}
.tab-profile3 label{
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-bottom:0px;
}
.tab-profile3 .slideprogress{
	width:745px !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.tab-profile3 .slideprogress{
	width:450px !important;
}
}

@media only screen and (max-width: 767px) {
.tab-profile3 .slideprogress{
	width:300px !important;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.tab-profile3 .slideprogress{
	width:450px !important;
}
}

.tab-profile3 .form-control {
    background:#fff;
	width:235px;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:50px;
    border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
    color: #3E4462;
	padding-left:20px;
	padding-right:20px;
}
.tab-profile3 .form-control::-webkit-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile3 .form-control::-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile3 .form-control:-ms-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile3 .form-control:-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:400;
}
.tab-profile3-hr hr {
	margin-top: 27px;
	padding-bottom: 15px;
}
.tab-profile3 .form-row{
	padding-bottom:0px;
}
.tab-profile3 #exampleCheck1{
	margin-top:15px;
}
.tab-profile3 label#profilelabel {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding-top: 12px;
}
.tab-profile3 button#distri-btn {
	background: #6784FF;
	width: 235px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 11px 45px;
	margin-top: 35px;
	margin-left: 19px;
	cursor: pointer;
	float: right;
}
.tab-profile3 h3{
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding-top: 0px;
	padding-bottom:10px;
	padding-right:7px;
}
.tab-profile3 h3 a{
	display:inline-block;
	color:#6784FF;
	font-size:18px;
	font-weight:700;
	padding-left:5px;
}
.tab-profile3 input#percentinput {
	background: #fff;
	width: 170px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	color: #3E4462;
	padding-left: 20px;
	margin-top: 35px;
}
.tab-profile3 input#percentinput::-webkit-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:600;
}
.tab-profile3 input#percentinput::-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:600;
}
.tab-profile3 input#percentinput:-ms-input-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:600;
}
.tab-profile3 input#percentinput:-moz-placeholder {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight:600;
}
.tab-profile3 input#address{
    background:#fff;
	width:100%;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:50px;
    border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
    color: #3E4462;
	padding-left:20px;
}
.distribute-checkboxdiv {
	padding-left: 22px;
}
#distribute-property{
	width:100%;
	padding-left:17px;
}
.gifts-div{
	width:100%;
	padding-top:30px;
}
#slide-div{
	padding-top:22px;
}
.tab-profile3 img#close-icon1 {
	float: right;
	position: absolute;
	right: 70px;
	top: 48px;
}
.nav-tabs {
	border-bottom: 0px solid #dee2e6;
}
.tab-profile3 input#inputperson{
	width:352px;
}
.distribute-text-wrap{
	background:#fff;
	border-radius:5px;
	padding-top:20px;
	padding-left:20px;
}
.distribute-text p{
	padding-bottom:0px;
	margin-bottom:8px;
	font-weight:700;
}
.distribute-text2 p{
	padding-bottom:0px;
	margin-bottom:8px;
}
.distribute-text-img img{
	float:right;
	padding-right:12px;
}


/*== FOOTER SECTION ==*/

.footer-section{
	background:#F2F3F8;
	padding-top:65px;
	padding-bottom:50px;
}
.footer-section2{
	background:#fff;
	padding-top:65px;
	padding-bottom:50px;
}
.footer-logo h3 {
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size: 28px;
	font-weight: 700;
}
.footer-nav ul{
	padding-left:0px;
	text-align:center;
	display:block;
}
.footer-nav ul li {
	display: inline-block;
	list-style: none;
	padding-left: 15px;
	padding-right: 15px;
}
.footer-nav ul li a{
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
}
.footer-social{
	display:block;
	text-align:right;
}
.footer-social a {
	color: #18214D;
	font-size: 18px;
	display: inline-block;
	margin-left: 20px;
}
.copyright-section{
	background:#F2F3F8;
	padding-bottom:30px;
}
.copyright-section{
	background:#F2F3F8;
	padding-bottom:30px;
}
.copyright-section2{
	background:#fff;
	padding-bottom:30px;
}
.copyright-wrap{
	border-top:1px solid #ddd;
	padding-top:45px;
}
.copyright-text p {
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-align:center;
}
.divclass-button{
	position: absolute;
	width: 100%;
	margin-top: 100px;
}
.divclass-button img {
	cursor: pointer;
}
.divclass-button img {
	cursor: pointer;
	margin-left: 11%;
	margin-top: 137px;
}
.divclass-button img.nexttab {
	margin-left: 68%;
}
.error_border{
	border: 2px solid #ff7d7d!important;
}
.error_outline{
	outline: 2px solid #ff7d7d!important;
}
.cursor_pointer{
	cursor: pointer;
}
.display_none{
	display: none;
}
.button_1{
	border: 2px solid #6784FF!important;
    color: #6784ff!important;
    background: #fff!important;
    padding: 5px 26px!important;
    width: auto!important;
}
.button_1:hover{
	color: #fff!important;
    background: #6784ff!important;
}
.floatright{
	float:right;
}
.active_type{
	color: #6784ff!important;
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}
.inline_block{
	display:inline-block;
}


/* new css */

.distri-additional{
	margin-top:35px;
}
.distri-last{
	border-top:1px solid #ddd;
	margin-top: 35px;
}
.tab-profile3 button#distri-btn2 {
	background: #6784FF;
	width: 226px;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 17px;
	font-weight: 700;
	padding: 11px 16px;
	margin-top: 35px;
	margin-left: 0px;
	cursor: pointer;
}
.distri-add a {
	background: #fff;
	border: 1px solid #6784FF;
	border-radius: 6px;
	color: #6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
	padding: 8px 28px;
	margin-top: -10px;
	float: right;
}
.distri-add a:hover {
	text-decoration:none;
}
.distri-add a i{
	margin-left:11px;
}

.tab-profile3 #first_name {
	background: #fff;
	width: 235px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-profile3 #last_name {
	background: #fff;
	width: 235px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-profile3 #nric{
	background: #fff;
	width: 235px;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.tab-profile3 #charity_name {
	width: 352px;
}
.tab-profile3 #charity_address {
	width: 352px;
}
.state-percent .form-control {
	background: #fff;
	width: 170px !important;
	border-radius: 6px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 50px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #000;
	padding-left: 20px;
	margin-top: 15px;
}
.pdf-download{
	height:350px;
}
.pdf-download button {
    background: #6784FF;
    width: 212px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 11px 27px;
    margin-top: 31px;
    margin-left: 45px;
    cursor: pointer;
}
#profile_checkbox_label {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-top: 12px;
}
#profile_tab_checkbox{
	margin-top: 15px;
}

#new-side{
	background:red;
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
.tab-profile3 label {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 0px;
}
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
.distri-item{
	max-width:100% !important;
	flex:100%;
}
.distri-add{
	max-width:100% !important;
	flex:100%;
}
.distri-add a {
	background: #fff;
	border: 1px solid #6784FF;
	border-radius: 6px;
	color: #6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
	padding: 8px 28px;
	margin-top: 8px;
	float: right;
}
.tab-profile3 #charity_name {
	width: 300px;
}
.tab-profile3 #charity_address {
	width: 300px;
}

}

/* Wide Mobile Layout: */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.distri-item{
	max-width:100% !important;
	flex:100%;
}
.distri-add{
	max-width:100% !important;
	flex:100%;
}
.distri-add a {
	background: #fff;
	border: 1px solid #6784FF;
	border-radius: 6px;
	color: #6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
	padding: 8px 28px;
	margin-top: 8px;
	float: right;
}
}

.bg_active_button{
	background-color: #007bff!important;
}
.react-datepicker__navigation{
	background-color: transparent!important;
}

.react-datepicker button {
    width: 0px;
    border-radius: 0px;
    border: 0.45rem solid transparent;
    padding: 0px;
    cursor: pointer;
}
.react-datepicker__navigation--next {
    border-left-color: #b3b3b3!important;
}
.react-datepicker__navigation--previous {
    border-right-color: #b3b3b3!important;
}