.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*== HEADER SECTION ==*/

.main-container-wrap{
	padding-left:0px !important;
	padding-right:0px !important;
	overflow:hidden !important;
}
.header-bg{
	background:#F2F3F8;
}
.heading-logo img{
	margin-top:11px;
}
.heading-nav{
	display:block;
	text-align:left;
	padding-top:0px;
}
.heading-nav #basic-navbar-nav a {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-right: 35px;
	padding-top:0px;
	padding-bottom: 0;
}
.heading-nav #basic-navbar-nav a:hover{
	text-decoration:none;
}
.heading-btn{
	padding-top:30px;
}
.heading-btn a {
	background: #6784FF;
	border:1px solid #6784FF;
	border-radius: 5px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 30px;
	margin-left: 25px;
	display: inline-block;
}
.heading-btn a:hover {
	background: #6784FF;
	border:1px solid #6784FF;
	border-radius: 5px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 30px;
	margin-left: 25px;
	display: inline-block;
	text-decoration:none;
}
.heading-btn a.last{
	background:#fff;
	border:1px solid #6784FF;
	border-radius: 5px;
	color:#6784FF;
    font-family: 'Inter', sans-serif;
	font-size:16px;
	font-weight:600;
	padding:8px 45px;
	margin-left:20px;
	display:inline-block;
	cursor:pointer;
}
.heading-btn a.last{
	background:#fff;
	border:1px solid #6784FF;
	border-radius: 5px;
	color:#6784FF;
    font-family: 'Inter', sans-serif;
	font-size:16px;
	font-weight:600;
	padding:8px 45px;
	margin-left:20px;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
}
a:hover {
    text-decoration: none;
}
a:focus{
	outline:0 solid;
}

/*== SILVER SECTION ==*/

.silver-section{
	background-image:url(./img/header-bg-home.png);
	height:900px;
	background-size:cover;
}
.text-silver {
	padding-top: 130px;
}
.text-silver h1{
	color: #384185;
	font-size: 72px;
	font-weight: 700;
	margin-bottom:31px;
	text-align:left;
}
.text-silver p {
	color: #384185;
	font-size: 22px;
	font-weight: 500;
	line-height: 1.3;
	text-align:left;
}
.text-silver button {
	background-image: linear-gradient(to bottom, #FFBE9B , #FF8A62);
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 17px 28px;
	margin-top: 25px;
	cursor: pointer;
}
.text-silver button i{
	padding-left:15px;
}
.text-silver-img{
	padding-right:0px;
}
.text-silver-img img {
	max-width: 100%;
	padding-top: 60px;
	float: right;
}
.silver-social {
	padding-top: 60px;
	float: left;
	text-align: left;
}
.silver-social a{
	color:#18214D;
	font-size:18px;
	display:inline-block;
	margin-right:20px;
}

/*== PERFECT SECTION ==*/

.perfect-section{
	padding-top:90px;
	padding-bottom:70px;
}
.text-perfect h2{
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size: 48px;
	font-weight: 600;
	margin-bottom:15px;
}
.text-perfect img{
	max-width:100%;
}
.text-perfect2{
	text-align:left;
}
.text-perfect2 p {
	color: #081A48;
	font-size:18px;
	font-weight: 500;
	line-height: 1.5;
	padding-bottom:45px;
}
.text-perfect3{
	padding-bottom:10px;
	padding-right:55px;
}
.text-perfect3 img{
	position:absolute;
}
.text-perfect3 h3{
	color: #6784FF;
    font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 700;
	margin-bottom:8px;
	padding-left:65px;
}
.text-perfect3 p {
	color: #384185;
	font-size:18px;
	font-weight: 500;
	line-height: 1.5;
	padding-left:65px;
}

/*== REVIEWS SECTION ==*/

.reviews-section {
	background-image: url(./img/review-bg.jpg);
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}
.reviews-heading span {
	color: #6784FF;
	font-size:22px;
	font-weight: 500;
	display:block;
	text-align:center;
}
.reviews-heading h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-align:center;
	padding-bottom:45px;
}
.single-testimonial {
    position: relative;
    background:none;
	border-radius:4px;
    padding: 20px 20px;
	padding-top:35px;
	padding-bottom:35px;
}
.single-content h2 {
	color: #384185;
	font-size:30px;
	font-weight: 500;
	text-align:center;
}
.single-content p{
    color: #3E4462;
    font-size: 18px;
    font-weight:500;
    text-align: center;
	line-height:1.4;
}
.single-content-border {
	width: 50%;
	border-top: 1px solid #ddd;
	display:block;
	margin:0px auto;
	margin-top:30px;
	margin-bottom: 25px;
}
.single-content img{
	display:block;
	margin:0px auto;
	width:auto !important;
	margin-bottom:12px;
}
.single-content h3 {
	color: #18214D;
	font-size:22px;
	font-weight: 500;
	text-align:center;
	margin-bottom:2px;
}
.single-content h4{
    color: #3E4462;
    font-size: 14px;
    font-weight:500;
    text-align: center;
	display:block;
}
.reviews-section .owl-item {
	background: #f4e7fa;
}
.owl-item.active.center {
	background-color: #fff;
}
.owl-dots {
	margin-top: 35px;
	text-align: center;
}
.owl-dots div {
	background: #B5D6FF none repeat scroll 0 0;
	display: inline-block;
	margin-left: 5px;
	height: 10px;
	width: 10px;
	border-radius: 30px;
}
.owl-carousel .active span{
	background: #6784FF !important;
	height: 10px;
	width: 10px;
	border-radius: 30px;
	outline:0;
}
.owl-dots span {
	background: #B5D6FF none repeat scroll 0 0;
	display: inline-block;
	margin-left: 5px;
	height: 10px;
	width: 10px;
	border-radius: 30px;
}

/*== JOIN SECTION ==*/

.join-section{
	padding-top:60px;
	padding-bottom:60px;
}
.join-heading h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-align:center;
	padding-bottom:5px;
}
.join-heading p {
	color: #3E4462;
	font-size:18px;
	font-weight: 500;
	text-align:center;
	line-height:1.5;
	padding-bottom:25px;
}
.join-form i {
	position: absolute;
	color: #3E4462;
	font-size: 18px;
	margin-left: 13px;
	margin-top: 22px;
	left: 4px;
}
.join-form .form-control {
    background:#F2F3F8;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:60px;
    border: none;
	font-size: 20px;
	font-weight: 600;
    color: #000;
	padding-left:40px;
}
.join-form .form-control::-webkit-input-placeholder {
	color: #3E4462;
	font-size: 20px;
	font-weight:500;
}
.join-form .form-control::-moz-placeholder {
	color: #3E4462;
	font-size: 20px;
	font-weight:500;
}
.join-form .form-control:-ms-input-placeholder {
	color: #3E4462;
	font-size: 20px;
	font-weight:500;
}
.join-form .form-control:-moz-placeholder {
	color: #3E4462;
	font-size: 20px;
	font-weight:500;
}
.join-form button {
	background-color: #6784FF;
	width:300px;
	height:60px;
	border: medium none;
	border-radius:6px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight:600;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 14px;
	transition: all 0.5s ease 0s;
}
.join-heading2 p {
	color: #3E4462;
	font-size:18px;
	font-weight: 500;
	text-align:center;
	line-height:1.5;
	padding-top:30px;
}

/*== FOOTER SECTION ==*/

.footer-section{
	background:#F2F3F8;
	padding-top:65px;
	padding-bottom:50px;
}
.footer-section2{
	background:#fff;
	padding-top:65px;
	padding-bottom:50px;
}
.footer-logo h3 {
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size: 28px;
	font-weight: 700;
}
.footer-nav ul{
	padding-left:0px;
	text-align:center;
	display:block;
}
.footer-nav ul li {
	display: inline-block;
	list-style: none;
	padding-left: 15px;
	padding-right: 15px;
}
.footer-nav ul li a{
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
}
.footer-social{
	display:block;
	text-align:right;
}
.footer-social a {
	color: #18214D;
	font-size: 18px;
	display: inline-block;
	margin-left: 20px;
}
.copyright-section{
	background:#F2F3F8;
	padding-bottom:30px;
}
.copyright-section{
	background:#F2F3F8;
	padding-bottom:30px;
}
.copyright-section2{
	background:#fff;
	padding-bottom:30px;
}
.copyright-wrap{
	border-top:1px solid #ddd;
	padding-top:45px;
}
.copyright-text p {
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-align:center;
}

/*== MORTGAGE SECTION ==*/

.mortgage-section {
	background: #F2F3F8;
	padding-top: 40px;
	padding-bottom:50px;
}
.text-mortgage h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 52px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 10px;
}
.text-mortgage p {
	color: #384185;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	line-height: 1.4;
	padding-bottom:32px;
}
.text-mortgage2 img {
    width: 100%;
}
.text-mortgage2 h2{
	color: #626679;
	font-size: 24px;
	font-weight: 500;
	padding-bottom:28px;
}
.mortgage2-overlay {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 11%;
    right: 11%;
    height: 100%;
    width: 76%;
    opacity: 1;
    transition: .5s ease;
}
.mortgage2-overlay h3{
	color: #B5D6FF;
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin-bottom:10px;
}
.mortgage2-overlay h4 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin-bottom:10px;
}
.mortgage2-overlay h5{
	color: #FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	padding-top:35px;
	margin-bottom:18px;
}
.mortgage2-overlay h6{
	color: #B5D6FF;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	padding-top:31px;
	margin-bottom:31px;
}
.mortgage2-overlay h6 span{
	color: #FFFFFF;
}
.mortgage2-overlay .progress{
	background:#1E2C4C;
	border-radius:25px;
	height:26px;
}
.mortgage2-overlay .progress-bar{
	background:#6784FF;
	border-radius:25px;
}
.mortgage2-overlay button {
	background: #FF8A62;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 13px 45px;
	display: block;
	margin: 0px auto;
	margin-top: 25px;
	cursor: pointer;
}
.text-mortgage2 span.time1 {
	color: #626679;
	font-size: 18px;
	font-weight: 500;
}
.text-mortgage2 span.time2 {
	color: #FF8A62;
	font-size: 21px;
	font-weight: 700;
	display: inline-block;
	margin-left: 25px;
	margin-top: 30px;
}
.text-mortgage3 h2 {
	color: #626679;
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 28px;
}
.text-mortgage4{
	border-bottom:1px solid #ddd;
	padding-bottom:30px;
	margin-bottom:30px;
}
.text-mortgage4:last-child{
	border-bottom:0px solid #ddd;
	padding-bottom:30px;
	margin-bottom:10px;
}
.text-mortgage5 img {
	width: 100%;
}
.mortgage5-overlay {
	position: absolute;
	top: 34%;
	bottom: 0;
	left: 11%;
	right: 11%;
	height: 100%;
	width: 76%;
	opacity: 1;
	transition: .5s ease;
}
.mortgage5-overlay h3 {
	color: #B5D6FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 5px;
}
.mortgage5-overlay span {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	display:block;
}
.text-mortgage6 h4 {
	color: #626679;
	font-size: 24px;
	font-weight:500;
	margin-bottom: 20px;
}
.text-mortgage6 h5{
	color: #FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight:700;
	margin-bottom: 20px;
}
.text-mortgage6 button {
	background: #6784FF;
	border-radius: 6px;
	border: none;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 12px 45px;
	margin-top: 5px;
	cursor: pointer;
}
.mortgage-pagination{
	display:block;
	text-align:right;
	float:right;
}
.mortgage-pagination ul.pagination{
	padding-top:0px;
	text-align:right;
}
.mortgage-pagination ul.pagination li a{
	background:none;
	border:none;
	color:#6784FF;
	font-size: 18px;
	font-weight: 500;
	padding-left:21px;
}

/*== ACCESS SECTION ==*/

.access-section{
	padding-top:80px;
	padding-bottom:80px;
}
.text-access{
	border-right:1px solid #ddd;
	padding-left:60px;
	padding-right:60px;
}
.text-access:last-child{
	border-right:0px solid #ddd;
}
.text-access img.img1{
	display:block;
	margin:0px auto;
	margin-bottom:15px;
}
.text-access h3{
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-align:center;
	margin-bottom: 14px;
}
.text-access p {
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	text-align:center;
	padding-bottom: 20px;
}
.text-access button {
	background: #FF8A62;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 25px;
	display: block;
	margin: 0px auto;
	margin-top:13px;
	cursor: pointer;
}
.text-access button img{
	margin-right:15px;
}
.text-access button#btn1{
	background:none;
	border-radius: 6px;
	border: none;
	border:2px solid #788CCA;
	color: #788CCA;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 25px;
	display: block;
	margin: 0px auto;
	margin-top:13px;
	cursor: pointer;
}


/*== LOANS SECTION ==*/

.loans-section{
	background:#F2F3F8;
	padding-top:80px;
	padding-bottom:80px;
}
.text-loans h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 46px;
	font-weight: 600;
	text-align: center;
	padding-bottom:15px;
}
.loans-tab-ul ul li a{
	background:#FFFFFF;
	color:#6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff;
	background-color: #6784FF;
	border-color: #dee2e6 #dee2e6 #fff;
	border: 2px solid #6784FF;
}
.loans-tab-ul .nav-tabs .nav-link {
	border: 2px solid #6784FF;
	border-radius: 0px;
	padding-left: 40px;
	padding-right: 40px;
}
.loans-tab-ul ul li a.active{
	background:#6784FF;
	border:2px solid #6784FF;
	color:#fff;
}
.loans-tab-ul .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff;
	border:2px solid #6784FF;
}
.loans-tab-ul .nav-tabs{
	border-bottom:0px solid;
}
.tab-text h2 {
	color: #18214D;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	padding-top:35px;
	padding-bottom: 25px;
}
.tab-text .col-auto::after {
	position: absolute;
	content: "%";
	right: 17px;
	top: 11px;
	color: #788CCA;
	font-size: 18px;
}
.tab-text .form-control {
    background:#fff;
	width:200px;
	border-radius:6px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
    height:50px;
    border: none;
	font-size: 18px;
	font-weight: 600;
    color: #000;
	padding-left:20px;
	padding-right:20px;
}
.tab-text .form-control::-webkit-input-placeholder {
	color: #3E4462;
	font-size: 18px;
	font-weight:400;
}
.tab-text .form-control::-moz-placeholder {
	color: #3E4462;
	font-size: 20px;
	font-weight:500;
}
.tab-text .form-control:-ms-input-placeholder {
	color: #3E4462;
	font-size: 20px;
	font-weight:500;
}
.tab-text .form-control:-moz-placeholder {
	color: #3E4462;
	font-size: 20px;
	font-weight:500;
}
.tab-text select {
	display: block;
	padding: 13px;
	width:200px;
	height: 50px !important;
	border: none;
	border: 2px solid #6784FF;
	border-radius: 6px;
	background: url(./img/arrow2.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px !important;
	margin:0px auto;
	margin-top:15px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left:20px;
}
.tab-text button {
	background: #FF8A62;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 53px;
	display: block;
	margin: 0px auto;
	margin-top: 35px;
	cursor: pointer;
}
.tab-text button:hover {
	background: #FF8A62;
	border-radius: 6px;
	border: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 53px;
	display: block;
	margin: 0px auto;
	margin-top: 35px;
	cursor: pointer;
}

/*== LEGACY SECTION ==*/

.legacy-section{
	background:url(./img/header-bg2.jpg) center;
	height:1590px;
	background-size:cover;
}
.text-legacy {
	padding-top: 110px;
}
.text-legacy span {
	color: #6784FF;
	font-size: 22px;
	font-weight: 500;
	display: inline-block;
}
.text-legacy h2{
	color: #384185;
    font-family: 'Inter', sans-serif;
	font-size: 56px;
	font-weight: 600;
	padding-top:20px;
	margin-bottom:36px;
}
.text-legacy label{
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size:18px;
	font-weight: 600;
	display:block;
}
.text-legacy i {
	position: absolute;
	color: #3E4462;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 16px;
}
.text-legacy select {
	display: block;
	padding: 13px;
	width: 303px;
	height:50px !important;
	border: none;
	border:2px solid #6784FF;
	border-radius: 6px;
	background:url(./img/arrow2.png) right center no-repeat;
	background-position: right 15px center;
    background-color:#fff;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 19px !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left:40px;
}
.text-legacy button {
	background-image: linear-gradient(to bottom, #FFBE9B , #FF8A62);
	border-radius: 6px;
	width: 190px;
	height: 51px;
	border: medium none;
	border-radius: 6px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 5px;
	padding-top: 11px;
	padding-bottom: 14px;
	transition: all 0.5s ease 0s;
}
.text-legacy button:hover{
	background-color: #FF8A62;
}
.text-legacy p {
	color: #3E4462;
    font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding-top:20px;
}
.step-section{
	background-image:url(./img/step-bg.jpg);
	height:692px;
	background-size:cover;
	padding-top:70px;
}
.step-wrap{
	padding-top:300px;
}
.text-step h2 {
	color: #1E2C4C;
	font-family: 'Inter', sans-serif;
	font-size: 40px;
	font-weight: 600;
	padding-bottom:40px;
}
.text-step2 h3 {
	color: #1E2C4C;
	font-family: 'Inter', sans-serif;
	font-size: 35px;
	font-weight: 600;
	padding-bottom: 17px;
	padding-left: 81px;
	margin-top: -22px;
}
.text-step2 p{
	color: #1E2C4C;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height:1.5;
	padding-bottom:20px;
	padding-right:50px;
}
.plan-section{
	padding-top:100px;
	padding-bottom:120px;
}
.text-plan h2 {
	color: #384185;
	font-family: 'Inter', sans-serif;
	font-size: 46px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 5px;
}
.text-plan p {
	color: #3E4462;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 1.5;
	padding-bottom:55px;
}
.text-plan2{
	border-right:1px solid #ddd;
}
.text-plan2:last-child{
	border-right:0px solid;
}
.text-plan2 h4{
	color: #18214D;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
}
.text-plan2 h2{
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 56px;
	font-weight: 700;
	text-align: center;
	padding-top:7px;
	padding-bottom:6px;
}
.text-plan2 ul{
	padding-left:0px;
}
.text-plan2 ul li{
	text-align:center;
	color: #3E4462;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	list-style:none;
}
.text-plan2 button {
	background:none;
	border-radius: 6px;
	border: none;
	border:2px solid #6784FF;
	color: #6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 45px;
	display:block;
	margin:0px auto;
	margin-top: 25px;
	cursor: pointer;
}
.text-plan2 button:hover {
	background:#6784FF;
	border-radius: 6px;
	border: none;
	border:2px solid #6784FF;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 45px;
	display:block;
	margin:0px auto;
	margin-top: 25px;
	cursor: pointer;
}
.text-plan2 a{
	text-align:center;
	color: #18214D;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	display:block;
	text-align:center;
	padding-top:20px;
}
.loans-section .nav-tabs{
	width: 24%;
	margin: 0px auto;
}
.loans-section .nav-tabs a {
	color: #6784FF;
	border: 2px solid #6784FF;
	font-weight: 700;
	border-radius: 0px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 12px;
}
.loans-section .nav-tabs a:hover {
	color:#6784FF;
	border: 2px solid #6784FF;
	font-weight:700;
	border-radius: 0px;
	padding-left: 40px;
	padding-right: 40px;
}
.loans-section .nav-tabs a.active {
	background:#6784FF;
	color: #fff;
	border: 2px solid #6784FF;
}

/* New User */

.user-left{
	background:url(./img/userportal-bg.jpg);
	height:1024px;
	background-size:cover;
}
.user-left img {
	display: block;
	margin: 0px auto;
	max-width: 100%;
	margin-top: 34%;
}
.user-right{
	background:#1E2C4C;
	height:1024px;
	padding-left:50px !important;
	padding-right:140px !important;
}
.heading-btn2{
	padding-top:36px;
	display:block;
	text-align:right;
}
.heading-btn2 a {
	background: #6784FF;
	border:1px solid #6784FF;
	border-radius: 5px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 30px;
	margin-left: 25px;
	display: inline-block;
}
.heading-btn2 a:hover {
	background: #6784FF;
	border:1px solid #6784FF;
	border-radius: 5px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 30px;
	margin-left: 25px;
	display: inline-block;
	text-decoration:none;
}
.heading-btn2 a.last{
	background:#1E2C4C;
	border:1px solid #6784FF;
	border-radius: 5px;
	color:#6784FF;
    font-family: 'Inter', sans-serif;
	font-size:16px;
	font-weight:600;
	padding:8px 45px;
	margin-left:20px;
	display:inline-block;
	cursor:pointer;
}
.heading-btn2 a.last:hover{
	background:#1E2C4C;
	border:1px solid #6784FF;
	border-radius: 5px;
	color:#6784FF;
    font-family: 'Inter', sans-serif;
	font-size:16px;
	font-weight:600;
	padding:8px 45px;
	margin-left:20px;
	display:inline-block;
	cursor:pointer;
}
.user-contact-input h2 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
	padding-top:140px;
	padding-bottom:30px;
}
.user-contact-input h2 span{
	color:#626679;
}
.user-contact-input li{
	list-style:none;
	padding-top:220px;
	padding-bottom:30px;
}
.user-contact-input li a {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
	padding-top: 140px;
	padding-bottom: 30px;
}
.user-contact-input li span a{
	color: #626679;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
}
.user-contact-input li a span{
	color: #626679;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 600;
}
.user-contact-input li a:hover{
	text-decoration:none;
}
.user-contact-input label {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 0px;
}
.user-contact-input .form-control{
	background:none;
	border:none;
	border-radius:0px;
	border-bottom:2px solid #6784FF;
	color: #FFFFFF;
	font-size: 16px;
	font-weight:500;
	padding-left:0px;
	margin-bottom:45px;
}
.user-contact-input .form-control::-webkit-input-placeholder {
	color: #FFFFFF;
	font-size: 16px;
	font-weight:500;
}
.user-contact-input .form-control::-moz-placeholder {
	color: #FFFFFF;
	font-size: 16px;
	font-weight:500;
}
.user-contact-input .form-control:-ms-input-placeholder {
	color: #FFFFFF;
	font-size: 16px;
	font-weight:500;
}
.user-contact-input .form-control:-moz-placeholder {
	color: #FFFFFF;
	font-size: 16px;
	font-weight:500;
}
.user-input-checkbox {
	padding-left: 50px !important;
	margin-top: -30px;
}
.user-input-checkbox #checkboxlavel{
	color:#CECECE;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight:600;
}
.user-input-link{
	display:block;
	text-align:right;
	padding-right:30px !important;
	margin-top: -30px;
}
.user-input-link a{
	color:#FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight:600;
	text-decoration:underline;
}
.user-input-link a:hover{
	color:#FF8A62;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight:600;
	text-decoration:underline;
}
.user-input-btn button{
	background: #6784FF;
	border: 1px solid #6784FF;
	border-radius: 5px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	cursor:pointer;
	padding: 13px 36px;
	margin-top:30px;
	margin-left: 18px;
	display: inline-block;
}
.user-input-link2{
	display:block;
	text-align:right;
	padding-right:30px !important;
	margin-top:40px;
}
.user-input-link2 a{
	color:#6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight:600;
	text-decoration:underline;
}
.user-input-link2 a:hover{
	color:#6784FF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight:600;
	text-decoration:underline;
}